<div class="container mt-4">
    <h2>Product List</h2>

    <div *ngIf="isLoading">Loading products...</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <table class="table table-bordered table-hover mt-3" *ngIf="!isLoading && products.length">
        <thead class="table-light">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let product of products">
                <td class="text-center">{{ product.name }}</td>
                <td class="text-center">{{ product.description }}</td>
                <td class="text-center">{{ product.stock }}</td>
                <td class="text-center">
                    <button class="btn btn-sm">Update</button> |
                    <button class="btn  btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isLoading && products.length === 0" class="alert alert-info">
        No products found.
    </div>
</div>